/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --site-background: #2b2d42;
  --title-color: #d90429;
  --section-title: #ef233c;
  --text-background: #ef233c;
  --article-text: #edf2f4;
  --article-title: #2b2d42;
  --background-url: url(../images/cover-image-dark.png);
  --display: block;
}
