/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --site-background: #8338ec;
  --title-color: #00f5d4;
  --section-title: #f15bb5;
  --text-background: #00bbf9;
  --article-text: #fee440;
  --article-title: #fee440;
  --background-url: url(../images/cover-image-light.png);
  --display: none;
}
